/* Стили для основного контейнера */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Стили для шапки */
header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* Стили для боковой панели (Aside) */
.aside {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 100%;
}

.aside h2 {
  margin-top: 0;
}

.filter label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Стили для основного контента (Main) */
.main {
  margin-left: 270px; /* отступ для Aside */
  padding: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Стили для футера */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
